NEXT_PUBLIC_URL=http://localhost:3000

AUTH_SECRET=your-secret-key
AUTH_GITHUB_ID=...
AUTH_GITHUB_SECRET=...

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

DEFAULT_CATEGORY_ID=1

# @see: https://next-auth.js.org/configuration/options#nextauth_secret
# You can use: `openssl rand -hex 32` to generate a secure one
NEXTAUTH_SECRET=

# Set the minimum log level(debug, info, warn, error, fatal)
LOG_LEVEL=info

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"